.category_main {
    /* flex: 10.5; */
    background-color: #181818;
    height: 50vh;
    color: #fff;
}
/* .category_main::-webkit-scrollbar {
    width: 10px;
} */
.category_main::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .category_main::-webkit-scrollbar-track {
    background: #181818;
  }
  
  /* Handle */
  .category_main::-webkit-scrollbar-thumb {
    background: rgb(87, 87, 87);
  }
  
  /* Handle on hover */
 .category_main::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.category_wrapper {
    padding: 1rem;
}
.column {
    padding: 1rem;
    float: left;
}