.top5_main {
    /* flex: 10.5; */
    background-color: #181818;
    height: calc(-3rem + 45vh);
    margin-bottom: 1.5rem;
    color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.top5_wrapper {
    padding: 1rem;
}
.column {
    float: left;
}
.card_main {
    width: 13vw;
}
.card_wrapper {
    padding: 1rem;
}